#intro {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#intro video {
  width: 100%;
  height: 90%;
}

#music-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 16px;
  cursor: pointer;
}

.leaves {
  position: fixed;
  inset: 0;
  pointer-events: none; /* no clocking clicks */
  overflow: hidden;
}

.leaves span {
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 60% 40% 60% 40%;
    transform: rotate(45deg);
  opacity: 0.7;
  animation: float 10s linear infinite;
}

/* random location + different speeds */
.leaves span:nth-child(1) { left: 10%; animation-duration: 8s; }
.leaves span:nth-child(2) { left: 30%; animation-duration: 12s; }
.leaves span:nth-child(3) { left: 50%; animation-duration: 9s; }
.leaves span:nth-child(4) { left: 70%; animation-duration: 11s; }
.leaves span:nth-child(5) { left: 90%; animation-duration: 7s; }

@keyframes float {
  from {
    transform: translateY(-10vh) translateX(0);
  }
  to {
    transform: translateY(110vh) translateX(100px);
  }
}

/* A simple css reset */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* The Font Family- Really important!! */
    font-family: Arial, sans-serif;
    box-sizing: border-box;}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#video-btn {
  position: fixed;
  bottom: 10px;  
  left: 30px;   
  font-size: 10px;    
  padding: 12px 24px;  
}

/* reset for images to ensure they ar 100% of the parent container width */
img {
    width: 65%;
    border-radius: 2em ;
}

/* The hero section styling- use your OWN Hero Image URL here */
.hero {
    background-image: url('images/我不做人了jojo！.jpg');
    height: 50vh;
    background-size: 1000px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    position: relative;
}

/* BIG text styling for the hero section text */
.hero-text {
    font-size: 4em;
    font-weight: 60px bold;
    height: 15cqi;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 4px cornsilk;
}

/* nice big font on a banner style background */
.topic-title{
    color: white;
    font-size: 10px;
    padding: 0.1em 3em;
    background-color: rgb(71, 71, 71);
    text-align: left;
}

/* Three column grid with a nice big gap */
.topic-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6em;
    /* bring the whole section in off the sides of the page */
    width: 70%;
    /* top margin of 3em and center right/left */
    margin: 3em auto;
}

/* Styling for the individual topic cards rounded edges background color and a drop shadow */
.topic-card{
    background-color: rgb(71, 71, 71);
    color: white;
    padding: 3em;
    border-radius: 4em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    height: 6cm;
    display:flex ;
    align-items: center;
    gap: 30px;
}


/* Styling for the topic card titles */
.topic-card-text{
    font-size: 1.5em;
    margin-bottom: 0.5em;
    /* center align text */
}


/* Styling for a footer section to take a bit of spcae at the bottom of the page */
.footer{
    background-color: rgb(71, 71, 71);
    color: white;
    text-align: right;
    padding: 3em 3em;
}